.card-de-lista {
  &.selecionado {
    background-color: saturate(lighten($primary, 47), 100);
    @include sombra-2;
    z-index: 2;
    &:hover {
      @include sombra-2;
    }
  }
  cursor: pointer;
  margin-bottom: 10px;
  &:hover {
    @include sombra-3;
    z-index: 2;
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .miolo {
      margin: 0 1em;
      font-size: .85em;
      label {
        margin: 0;
        font-weight: bold;
        color: darken($primary, 20);
      }
      p {
        color: rgba(0,0,0,.7);
      }
    }
    .informativos {
      margin: 0 1em;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      width: 24px;
      color: rgba(0,0,0,.2);
      i {
        margin: .3em 0;
        text-align: center;
      }
    }
    .acoes {
      .anexos {
        position: relative;
        .badge {
          position: absolute;
          top: -5px;
          right: 25px;
          text-align: right;
        }
      }
    }
  }
}
