#footer-de-acao {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 260px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: .7em 1em;
  @include sombra-2;
  z-index: 2;
  .direita {
    display: flex;
    div {
      margin-left: 10px;
    }
  }
  .notificacoes {
    position: relative;
    .badge {
      position: absolute;
      top: -3px;
      right: 25px;
      text-align: right;
      font-size: .73em;
    }
  }
}
