@mixin transicao-1 {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

body {
  background-color: desaturate(lighten($primary, 46), 40);
}

h1, h2, h3, h4, h5, h6, .label-destacado {
  color: darken($primary, 20);
  font-weight: bold;
}
.label-destacado {
  margin-bottom: 5px;
}

.conteudo-da-pagina {
  margin-left: 260px;
}

.header-de-pagina {
  background-color: desaturate(lighten($primary, 42), 37);
  padding: 20px;
  margin-bottom: 1em;
}

.card {
  border: none;
  @include transicao-1;
  @include sombra-1;
  .card-header {
    border: none;
    background-color: desaturate(lighten($primary, 50), 50);
  }
}
