header {
  position: fixed;
  top: 0;
  right: 0;
  left: 260px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: .7em 1em;
  @include sombra-1;
  z-index: 2;
  .direita {
    display: flex;
    &>div {
      margin-left: 10px;
    }
  }
  .notificacoes {
    position: relative;
    .badge-no-canto {
      position: absolute;
      top: -3px;
      right: 25px;
      text-align: right;
      font-size: .73em;
    }
    .dropdown-item {
      border-bottom: 1px solid rgba(0,0,0,.2);
      padding-bottom: .5em;
      &:last-child {
        border: none;
      }
    }
    .item-de-notificacao {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .titulo {
        font-weight: bold;
      }
      .numero {
        margin-left: 1em;
      }
    }
  }
}
